$light-green:     #cccc20
$medium-green:    #bad304
$dark-green:      #6a9000
$very-dark-green: #2c5100

$almost-white:    #f8f8f8
$very-light-grey: #eeeeee
$light-grey:      #cccccc
$medium-grey:     #949494
$dark-grey:       #636b70
$very-dark-grey:  #3f3f3f

$error-red:       #ad3922
$dangerous-red:   #cd0920

$very-light-blue: #d9e5ec
$medium-blue:     #00a0c8
$dark-blue:       #28638c

$pink:            #ff00ff

$bp-light-green:  #9ecb0a
$bp-medium-green: #85ac1c

$bp-light-teal:   #ace7d1
$bp-medium-teal:  #358475

$bp-medium-grey:  #636363

$wirwunder-red:   #FF0000
