.image
  height: 170px
  background-size: cover
  background-position: 50% 50%

h1
  margin: 0
  font-family: "Open Sans"
  font-size: 18px
  text-align: center

.progress-bar
  background: $very-light-grey
  border-radius: 3px
  margin: 10px 0

  .bar
    height: 10px
    background: $medium-green
    border-radius: 3px

.project-values
  color: $medium-grey
  font-size: 12px
  margin: 10px 0

  .value
    font-size: 15px

  .donor-count,
  .progress-percentage
    width: 49%
    display: inline-block
    vertical-align: top

  .progress-percentage
    text-align: right

.button
  display: block
  background: $medium-green
  border-radius: 4px
  text-align: center
  color: white
  text-decoration: none
  padding: 5px 0

.logo
  margin-top: 10px
  padding-top: 10px
  text-align: center
  border-top: 1px solid $light-grey
