html,
body,
widget,
project,
iefallback
  height: 99%

body
  margin-top: 0px
  margin-left: 2.5px
  margin-right: 2.5px
  margin-bottom: 2.5px
  font-family: Arial, sans-serif
  color: $very-dark-grey
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

widget,
project,
iefallback
  display: flex
  flex-direction: column
  max-height: 320px
  position: relative

widget
  min-width: 160px
  max-width: 98%
  background-color: white
  border-radius: 8px
  overflow: hidden
  box-shadow: 0 4.5px 9px -2.25px rgba(0, 0, 0, 0.2)

// Special styling for migration phase. Review 2017
widget,
iefallback
  &.legacy-size
    .image
      background-size: 200px
      background-repeat: no-repeat
      background-position: 50% 0
    .content
      padding: 5px 10px 5px 10px
    .progress-percentage
      display: none
    .progress-bar
      margin: 10px 0 5px 0
    .project-values
      margin: 5px 0
    .donations-count
      width: 100%
      text-align: center
      .value
        display: inline
        font-size: inherit
    .project-status-message
      font-size: 11px
      margin: 5px 0
    .logo
      border-top: 0
      margin-top: 0
      padding-top: 5px
      img
        margin-bottom: 0
        max-height: 25px

  &.straight
    border-radius: 0% !important
    box-shadow: none

section
  padding: 10px
  flex-direction: column
  justify-content: space-between

@media (max-height: 103px)
  section.donations-prohibited
    padding: 0px !important

.mini > *:not(.show-on-mini)
  display: none

.mini > .content.show-on-mini
  height: auto !important
  min-height: 0 !important
  max-height: none !important  