@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
.button {
  background-image: -webkit-linear-gradient(top, #bad304 0%, #99ad03 100%);
  background-image: -o-linear-gradient(top, #bad304 0%, #99ad03 100%);
  background-image: linear-gradient(to bottom, #bad304 0%, #99ad03 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBAD304', endColorstr='#FF99AD03', GradientType=0);
  border-radius: 6px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  border-color: transparent;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 7px 2px; }
  @media (min-width: 220px) {
    .button {
      font-size: 14px; } }
  .button.button-block {
    display: block; }

.progress-bar {
  background: #eeeeee;
  border-radius: 3px;
  margin: 15px 0 10px 0; }
  .progress-bar .bar {
    height: 10px;
    background-image: -webkit-linear-gradient(top, #bad304 0%, #a8bf04 100%);
    background-image: -o-linear-gradient(top, #bad304 0%, #a8bf04 100%);
    background-image: linear-gradient(to bottom, #bad304 0%, #a8bf04 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBAD304', endColorstr='#FFA8BF04', GradientType=0);
    border-radius: 3px; }

html,
body,
widget,
project,
iefallback {
  height: 100%; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #3f3f3f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

widget,
project,
iefallback {
  display: block;
  max-height: 320px;
  position: relative; }

widget {
  min-width: 160px;
  max-width: 320px;
  background-color: white; }

section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: white; }
  @media (min-width: 220px) {
    section {
      margin: 0 10px;
      width: calc(100% - 20px); } }

project,
iefallback {
  border: 1px solid #cccccc; }
  project .image,
  iefallback .image {
    height: 170px;
    background-size: cover;
    background-position: 50% 50%; }
  project h1,
  iefallback h1 {
    margin: 0;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 14.8px;
    font-weight: 600;
    text-align: center; }
    @media (min-width: 220px) {
      project h1,
      iefallback h1 {
        font-size: 16px;
        line-height: inherit; } }
  project .limited-width,
  iefallback .limited-width {
    min-width: 140px;
    max-width: 180px;
    margin: 0 auto; }
  project .project-values,
  iefallback .project-values {
    margin: 10px 0;
    font-size: 0; }
    project .project-values .value,
    iefallback .project-values .value {
      font-size: 16px;
      color: #636b70; }
      @media (min-width: 220px) {
        project .project-values .value,
        iefallback .project-values .value {
          display: inline-block; } }
  project .donor-count,
  project .progress-percentage,
  iefallback .donor-count,
  iefallback .progress-percentage {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    color: #949494; }
  project .donor-count:last-child,
  iefallback .donor-count:last-child {
    width: 100%;
    text-align: center; }
  project .progress-percentage,
  iefallback .progress-percentage {
    text-align: right; }
  project .project-status-message,
  iefallback .project-status-message {
    font-size: 13px;
    color: #636b70;
    text-align: center;
    margin: 15px 0; }
  project .logo,
  iefallback .logo {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #cccccc;
    color: #636b70;
    font-size: 10px; }
    project .logo img,
    iefallback .logo img {
      max-width: 140px;
      max-height: 50px;
      display: block;
      margin: 0 auto 10px auto; }

/*# sourceMappingURL=betterplace-widget.css.map */
