@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
.button {
  background-image: -webkit-linear-gradient(top, #bad304 0%, #99ad03 100%);
  background-image: -o-linear-gradient(top, #bad304 0%, #99ad03 100%);
  background-image: linear-gradient(to bottom, #bad304 0%, #99ad03 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBAD304', endColorstr='#FF99AD03', GradientType=0);
  border-radius: 6px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  border-color: transparent;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 7px 2px; }
  @media (min-width: 220px) {
    .button {
      font-size: 14px; } }
  .button.button-block {
    display: block; }

.progress-bar {
  background: #eeeeee;
  border-radius: 3px;
  margin: 5px 0; }
  .progress-bar .bar {
    height: 10px;
    background-image: -webkit-linear-gradient(top, #bad304 0%, #a8bf04 100%);
    background-image: -o-linear-gradient(top, #bad304 0%, #a8bf04 100%);
    background-image: linear-gradient(to bottom, #bad304 0%, #a8bf04 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBAD304', endColorstr='#FFA8BF04', GradientType=0);
    border-radius: 3px;
    max-width: 100%; }

html,
body,
widget,
project,
iefallback {
  height: 100%; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #3f3f3f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

widget,
project,
iefallback {
  display: block;
  max-height: 320px;
  position: relative; }

widget {
  min-width: 160px;
  max-width: 320px;
  background-color: white; }

widget.legacy-size .image,
iefallback.legacy-size .image {
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 50% 0; }
widget.legacy-size .content,
iefallback.legacy-size .content {
  padding: 5px 10px 5px 10px; }
widget.legacy-size .progress-percentage,
iefallback.legacy-size .progress-percentage {
  display: none; }
widget.legacy-size .progress-bar,
iefallback.legacy-size .progress-bar {
  margin: 10px 0 5px 0; }
widget.legacy-size .project-values,
iefallback.legacy-size .project-values {
  margin: 5px 0; }
widget.legacy-size .donor-count,
iefallback.legacy-size .donor-count {
  width: 100%;
  text-align: center; }
  widget.legacy-size .donor-count .value,
  iefallback.legacy-size .donor-count .value {
    display: inline;
    font-size: inherit; }
widget.legacy-size .project-status-message,
iefallback.legacy-size .project-status-message {
  font-size: 11px;
  margin: 5px 0; }
widget.legacy-size .logo,
iefallback.legacy-size .logo {
  border-top: 0;
  margin-top: 0;
  padding-top: 5px; }
  widget.legacy-size .logo img,
  iefallback.legacy-size .logo img {
    margin-bottom: 0;
    max-height: 25px; }

section {
  padding: 10px; }

project,
iefallback {
  border: 1px solid #cccccc; }
  project .image,
  iefallback .image {
    height: 52vw;
    max-height: 43vh;
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat; }
    project .image + section,
    iefallback .image + section {
      display: flex;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      height: 67vh; }
      @media (min-width: 220px) {
        project .image + section,
        iefallback .image + section {
          height: 56.8vh; } }
      project .image + section > div,
      iefallback .image + section > div {
        align-self: center;
        width: 100%; }
  project h1,
  iefallback h1 {
    margin: 0 0 5px 0;
    font-family: "Open Sans";
    font-weight: 600;
    text-align: center;
    word-break: break-word;
    font-size: 14px;
    line-height: 16px; }
    @media (min-width: 220px) {
      project h1,
      iefallback h1 {
        margin: 0 0 10px 0;
        font-size: 15.5px;
        line-height: 17px; } }
  project .limited-width,
  iefallback .limited-width {
    min-width: 140px;
    max-width: 180px;
    margin: 0 auto; }
  project .project-values,
  iefallback .project-values {
    margin: 5px 0;
    font-size: 0; }
    @media (min-width: 220px) {
      project .project-values,
      iefallback .project-values {
        margin: 10px 0; } }
    project .project-values .value,
    iefallback .project-values .value {
      font-size: 16px;
      color: #636b70; }
      @media (min-width: 220px) {
        project .project-values .value,
        iefallback .project-values .value {
          display: inline-block; } }
  project .donor-count,
  project .progress-percentage,
  iefallback .donor-count,
  iefallback .progress-percentage {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    color: #949494; }
  project .donor-count:last-child,
  iefallback .donor-count:last-child {
    width: 100%;
    text-align: center; }
  project .progress-percentage,
  iefallback .progress-percentage {
    text-align: right; }
  project .project-status-message,
  iefallback .project-status-message {
    font-size: 12px;
    line-height: 12px;
    color: #636b70;
    text-align: center;
    margin: 5px 0 10px 0; }
  project .logo,
  iefallback .logo {
    margin-top: 10px;
    text-align: center;
    color: #636b70;
    font-size: 10px; }
    project .logo img,
    iefallback .logo img {
      max-width: 140px;
      max-height: 30px;
      display: block;
      margin: 0 auto; }
      project .logo img.betterplace-logo,
      iefallback .logo img.betterplace-logo {
        margin-top: -2px; }
    project .logo span,
    iefallback .logo span {
      display: inline-block;
      margin-top: 5px; }

/*# sourceMappingURL=betterplace-widget.css.map */
